# More info: https://docs.docker.com/engine/reference/builder/#dockerignore-file
# Ignore build and test binaries.
bin/
testbin/

# Ignore IDE and Git directories
.idea/
.git/

# Ignore some app files
Dockerfile
LICENSE
